h3, label {
    margin: 10px;
}

input {
    width: 60px;
    margin-left: 10px;
}

button {
    background-color: rgb(12, 100, 100);
    color: white;
    border: none;
    height: 22px;
    
}

p {
    margin: 0px;
}

#res1, #res2, #res3, #res4, #res5, #res6, #res7, #res8 {
    margin: 10px
}